/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: #000000;
}

.svg-icon circle {
stroke: #000000;
stroke-width: 1;
}

/* main */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.main_container {
    margin-top: 160px;
    margin-bottom: 160px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.titre {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.3s ease;
    /* Transition douce pour les éléments de navigation */
}

nav ul li:hover {
    transform: translateY(-3px);
    /* Effet de levitation au survol */
}

/* Main content */
h1,
h2,
h3,
h4,
h5 {
    color: #333;
}

input {
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="password"],
input[type="text"] {
    width: 100%;
}

input[type="checkbox"] {
    width: 3%;
}

footer {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    background-color: #fff;
    width: calc(33% - 20px);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:last-child {
    margin-right: 0;
}

.product:hover {
    transform: translateY(-5px);
}

.dashboard-stats {
    display: flex;
    justify-content: space-between;
}

.alert {
    background-color: #f44336;
    /* Couleur de fond de l'alerte */
    color: #fff;
    /* Couleur du texte de l'alerte */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
}

button {
    background-color: #007bff; /* Change button background color */
    color: #fff; /* Change text color */
    border: none;
    border-radius: 25px; /* Make the button rounded */
    padding: 12px 30px; /* Increase padding for better readability */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Change button background color on hover */
    transform: translateY(-2px); /* Add a slight lift effect */
}