/* Reset CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #121212;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.logo {
    font-size: 2rem;
    color: #fff;
}

/* Navigation Styles */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00e6e6;
}

/* Main Content Styles */
main {
    padding: 40px 0;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    list-style-type: none;
    /* Cache les points à côté des éléments de la liste */
    padding: 0;
    /* Supprime le padding par défaut des listes */
}

.product-list li {
    margin-bottom: 10px;
    /* Ajoute un espacement entre les éléments de la liste */
}

.product {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
}

.product a {
    display: inline-block;
    background-color: #00e6e6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product a:hover {
    background-color: #00cccc;
}

/* Footer Styles */
footer {
    background-color: #000;
    color: #ccc;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
}