* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    flex: 1;
    /* Le contenu du container s'étire pour remplir l'espace restant */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrer verticalement le contenu */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titre {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.3s ease;
    /* Transition douce pour les éléments de navigation */
}

nav ul li:hover {
    transform: translateY(-3px);
    /* Effet de levitation au survol */
}

/* Main content */
section {
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #333;
    /* Couleur des titres */
}

p {
    margin-bottom: 15px;
}

/* Formulaires */
form {
    margin-bottom: 30px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* Fond */
    color: #333;
    /* Couleur du texte dans les champs de saisie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
}

input[type="submit"] {
    background-color: #333;
    /* Couleur de fond du bouton de soumission */
    color: #fff;
    /* Couleur du texte du bouton de soumission */
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Transition pour le changement de couleur de fond */
}

input[type="submit"]:hover {
    background-color: #555;
    /* Couleur de fond du bouton de soumission au survol */
}

/* Footer */
footer {
    background-color: #fff;
    /* Couleur de fond du footer */
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Produit */
.product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    background-color: #fff;
    /* Couleur de fond d'un produit */
    width: calc(25% - 20px);
    /* Un quart de la largeur avec marge entre les produits */
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
    transition: transform 0.3s ease;
    /* Transition pour l'effet de survol */
}

.product:last-child {
    margin-right: 0;
    /* Supprimer la marge à droite du dernier produit */
}

.product:hover {
    transform: translateY(-5px);
    /* Effet de levitation au survol */
}



/* Dashboard */
.dashboard-stats {
    display: flex;
    justify-content: space-between;
}

.stat {
    flex-basis: 48%;
}

/* Alertes */
.alert {
    background-color: #f44336;
    /* Couleur de fond de l'alerte */
    color: #fff;
    /* Couleur du texte de l'alerte */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
}