{% extends 'base.html.twig' %}
{% block main_content %}
    <ul class="product-list">
        {% for product in products %}
        <li class="product">
            <h2>{{ product.getName() }}</h2>
            <h3>{{ product.getPrice() }}€</h3>
            {{ product.getDescription() }}</br>
            <b>{{ product.getCategorie() }}</b>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
