{% extends 'base.html.twig' %}

{% block main_content %}
    <h1>Access denied</h1>

    <p>
        There was an issue with the page, checkout for any url misspelling or <a href="{{ path('index') }}">return to the homepage</a>.
    </p>
{% endblock %}