{% extends 'base.html.twig' %}

{% block main_content %}
    <h1>Accès refusé</h1>

    <p>
        La page demandée n'est pas autorisée. Vérifiez s'il y a une faute de frappe dans l'URL ou <a href="{{ path('index') }}">retournez à la page d'accueil</a>.
    </p>
{% endblock %}
